.mycontainer5{
    position:relative;
    display:inline-block;
    margin-left:22.5%;
    margin-bottom:50px;
}
.mycontainer5text{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#4aaaa5;
    color:#fff;
    width:100%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;

}
img {
    opacity: 1.0;
  }
  
  img:hover {
    opacity: 0.5;
  }
  .mycontainer4{
    position:relative;
    display:inline-block;
    margin-left:10%;
}
.mycontainer4text{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#4aaaa5;
    color:#fff;
    width:100%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}
.mycontainer3{
        position:relative;
        display:inline-block;
        margin-left:22.5%;
        margin-bottom:50px;
    }
.mycontainer3text{
        position: absolute;
        top:70%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color:#4aaaa5;
        color:#fff;
        width:100%;
        text-align:center;
        padding-top:5px;
        padding-bottom:5px;
}
.mycontainer2{
    position:relative;
    display:inline-block;
    margin-left:10%;
}
.mycontainer2text{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#4aaaa5;
    color:#fff;
    width:100%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

@media only screen and (max-width:768px){
    .mycontainer4{
        display:block;
        left:25%
    }
    .mycontainer4text{
        width:200px;
        display:block;
        left:20.6%;

    }
    .mycontainer5{
        display:block;
        left:12.5%;
    }
    .mycontainer5text{
        width:200px;
        display:block;
        left:24%;
    }
    .mycontainer3{
        display:block;
        left:12.5%
    }
    .mycontainer3text{
        width:200px;
        display:block;
        left:24%;
    }
    .mycontainer2{
        display:block;
        left:25%
    }
    .mycontainer2text{
        width:200px;
        display:block;
        left:20.6%;
    }
}
